## Ignore project and compiled files
/update-to-debian.pro.user*
build-update-to-debian-*-Debug/
build-update-to-debian-*-Release/
camUpdate/debian.img.gz

## Ignore common temporary files.
.DS_Store
*\~
.directory


